@font-face {
  font-family: "Bubbleboddy Neue Trial";
  src: url("../fonts/bn-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Intro Regular";
  src: url("../fonts/intro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Intro Regular", "Arial", sans-serif;
  color: #fff;
  font-size: 29px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  background-color: #2fb4e0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 0 40px;
}
@media (max-width: 1025px) {
  .wrapper {
    padding: 0 10px;
  }
}

.overflow {
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 309px;
  background-image: url("../../img/logo-before.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
@media (max-width: 1440px) {
  .header__logo img {
    height: 120px;
  }
}
@media (max-width: 1025px) {
  .header__logo img {
    height: 10vw;
  }
}
@media (max-width: 1025px) {
  .header__logo::before {
    top: 10%;
    left: -10%;
    background-image: url("../../img/logo-before-mobile.png");
  }
}

.header-menu__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .header-menu__list {
    display: none;
  }
}

.header-menu__item {
  position: relative;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  transition: 0.5s;
}
.header-menu__item::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3e6372;
  transition: 0.5s;
}
.header-menu__item:hover::after {
  left: 0;
  width: 100%;
}
.header-menu__item a {
  color: #3e6372;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 6px 0px 6px #fff, 0px 6px 6px #fff, -6px 0px 6px #fff, 0px -6px 6px #fff;
}
@media (max-width: 1025px) {
  .header-menu__item a {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .header-menu__item a {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .header-menu__item a {
    font-size: 16px;
  }
}

.header.active {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #fff;
}
.header.active .header__logo {
  display: none;
}
.header.active .header-menu__list {
  display: flex;
  flex-direction: column;
}

.header-burger {
  width: 35px;
  height: 30px;
}
.header-burger span {
  position: relative;
  display: none;
  width: 100%;
  height: 6px;
  background-color: #e65c00;
  border-radius: 5px;
  box-shadow: 0px 0 5px 2px #fff;
}
.header-burger span::before, .header-burger span::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  height: 6px;
  background-color: #e65c00;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0 5px 2px #fff;
}
.header-burger span::after {
  top: 10px;
}
@media (max-width: 767px) {
  .header-burger span {
    display: block;
  }
}

.header.active .header-burger {
  position: absolute;
  top: 50px;
  right: 7px;
}
.header.active span {
  transform: rotate(45deg);
  box-shadow: none;
}
.header.active span::before {
  top: 0;
  transform: rotate(-90deg);
  box-shadow: none;
}
.header.active span::after {
  top: 0;
  transform: rotate(90deg);
  box-shadow: none;
}

.banner-wrapper {
  position: relative;
  z-index: 1;
  height: 80vh;
  padding-top: 10px;
  background-image: url("../../img/header/clouds-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@supports (background-image: url("../../img/header/webp/clouds-bg.webp")) {
  .banner-wrapper {
    background-image: url("../../img/header/webp/clouds-bg.webp");
  }
}
.banner-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../../img/header/heroes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@supports (background-image: url("../../img/header/webp/heroes.webp")) {
  .banner-wrapper::after {
    background-image: url("../../img/header/webp/heroes.webp");
  }
}
@media (max-width: 1025px) {
  .banner-wrapper::after {
    background-image: url("../../img/header/heroes-mobile.png");
  }
  @supports (background-image: url("../../img/header/webp/heroes-mobile.webp")) {
    .banner-wrapper::after {
      background-image: url("../../img/header/webp/heroes-mobile.webp");
    }
  }
}
@media (max-width: 1025px) {
  .banner-wrapper {
    height: 80vw;
  }
}

.banner-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(47, 180, 224);
  box-shadow: 0 -30px 50px 30px #2fb4e0;
}

.banner-info__description {
  margin: 0;
  font-size: 40px;
  line-height: 1.3em;
}
@media (max-width: 1025px) {
  .banner-info__description {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .banner-info__description {
    font-size: 32px;
  }
}
@media (max-width: 560px) {
  .banner-info__description {
    font-size: 22px;
  }
}

.banner-info__title {
  margin: 0;
  font-size: 82px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .banner-info__title {
    font-size: 74px;
  }
}
@media (max-width: 767px) {
  .banner-info__title {
    font-size: 66px;
  }
}
@media (max-width: 560px) {
  .banner-info__title {
    font-size: 36px;
  }
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 35vw;
  background-image: url("../img/games/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
@media (max-width: 767px) {
  .games {
    padding-top: 10px;
    padding-bottom: 50vw;
  }
}

.games-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.8em;
  height: 2.76em;
  margin: 0 auto;
  font-size: 42px;
  text-align: center;
  background-image: url("../img/games/title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 1025px) {
  .games-title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .games-title {
    font-size: 28px;
  }
}
@media (max-width: 560px) {
  .games-title {
    font-size: 22px;
  }
}

.games-list {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding-top: 120px;
}
@media (max-width: 767px) {
  .games-list {
    padding-top: 30px;
  }
}

.games-item {
  position: relative;
  display: flex;
  margin-bottom: 25%;
  background-color: #11a9e6;
  border: 2px solid #fff;
  border-radius: 55px;
}
.games-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/games/bubbles.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(100%) scale(-1, 1);
}
@media (max-width: 767px) {
  .games-item::before {
    height: 70%;
  }
}
.games-item:nth-child(even)::before {
  transform: translateY(100%);
}

.games-item__image,
.games-item__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-item__image {
  position: relative;
  z-index: 1;
  padding-left: 45%;
}

.games-item__image img {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(50%);
}

.games-item__content {
  position: relative;
  flex-direction: column;
  width: 50%;
  padding: 100px 10px 50px 10px;
}
@media (max-width: 1440px) {
  .games-item__content {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .games-item__content {
    padding: 15px;
  }
}

.games-item--mansiontale::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 229px;
  height: 187px;
  background-image: url("../img/games/new.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .games-item--mansiontale::after {
    width: 159px;
    height: 130px;
  }
}
@media (max-width: 767px) {
  .games-item--mansiontale::after {
    left: auto;
    right: 0;
    width: 163px;
    height: 100px;
    background-position: top right;
    transform: rotate(-90deg) translate(-6%, 32%);
  }
}

.games-item__content-text {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 29px;
  line-height: 1.1em;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1440px) {
  .games-item__content-text {
    font-size: 24px;
  }
}
@media (max-width: 1025px) {
  .games-item__content-text {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .games-item__content-text {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .games-item__content-text {
    font-size: 14px;
  }
}

.games-item__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 3em;
  background-image: url("../img/games/button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
  font-size: 32px;
  line-height: 1.3em;
  text-transform: uppercase;
  transition: 0.5s;
}
@media (max-width: 1440px) {
  .games-item__content-button {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .games-item__content-button {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .games-item__content-button {
    font-size: 12px;
  }
}
.games-item__content-button:hover {
  transform: scale(1.1);
}

.contacts {
  margin-top: -6%;
  padding-top: 6%;
  background-image: url("../../img/contacts/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1025px) {
  .contacts {
    margin-top: -8%;
    padding-top: 8%;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-top: -13%;
    padding-top: 13%;
  }
}

.contacts-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .contacts-list {
    flex-direction: column;
    margin-top: 30px;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-footer__links a {
  position: relative;
  color: #2b2b2b;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 767px) {
  .contacts-footer__links a {
    font-size: 15px;
    line-height: 18px;
  }
}
.contacts-footer__links a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2b2b2b;
  transition: 0.5s;
}
.contacts-footer__links a:hover::after {
  left: 50%;
  width: 0;
}

.contacts-footer__addres {
  color: #2b2b2b;
  font-size: 17px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .contacts-footer__addres {
    font-size: 15px;
    line-height: px;
  }
}

.social-list {
  display: flex;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 55px;
  height: 55px;
  margin: 0 14px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .social-item {
    width: 45px;
    height: 45px;
    margin: 0 7px;
  }
}
.social-item:hover {
  transform: scale(1.1);
}
.social-item.social-item__fb {
  background-image: url("../../img/contacts/fb.png");
}
.social-item.social-item__inst {
  background-image: url("../../img/contacts/inst.png");
}
.social-item.social-item__in {
  background-image: url("../../img/contacts/link.png");
}
.social-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.contacts-item {
  position: relative;
  max-width: 300px;
  padding-top: 130px;
  text-align: center;
}
.contacts-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 114px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contacts-item::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  width: 130%;
  height: 140%;
  background-image: url("../../img/contacts/item-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.contacts-item:hover::after {
  opacity: 1;
}
@media (max-width: 1025px) {
  .contacts-item {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .contacts-item {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }
  .contacts-item::before, .contacts-item::after {
    display: none;
  }
}

.contacts-item--support::before {
  background-image: url("../../img/contacts/support.png");
}

.contacts-item--job::before {
  background-image: url("../../img/contacts/job.png");
}

.contacts-item--hello::before {
  background-image: url("../../img/contacts/hello.png");
}

.contacts-item__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .contacts-item__title {
    margin-bottom: 0;
  }
}

.contacts-item__mail {
  position: relative;
  color: #2b2b2b;
  font-size: 20px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .contacts-item__mail {
    color: #2fb4e0;
  }
}
.contacts-item__mail::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2b2b2b;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .contacts-item__mail::after {
    background: #2fb4e0;
  }
}
.contacts-item__mail:hover::after {
  left: 50%;
  width: 0;
}

.contacts-item__text {
  margin: 30px 0;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 767px) {
  .contacts-item__text {
    margin: 10px 0;
  }
}